/* Hero styles */
.hero-btn {
  margin-top: 35px;
}

.hero-items {
  padding-top: 50px;
}

.hero-info {
  width: 40%;
}

.hero-title {
  font-size: 60px;
  line-height: 66px;
}

.hero-banner {
  width: 55%;
}

.hero-banner img {
  width: 100%;
}

/* PROGRAMS STYLES */
.programs {
  margin-top: 90px;
}

.programs-cards {
  margin-top: 40px;
  justify-content: space-between;
}

.programs-cards img {
  width: 100%;
}

.programs-card {
  cursor: pointer;
  border: 1px solid #0000001a;
  padding: 25px 62px;
  width: 24%;
  background-color: #f8ffef;
  font-weight: 600;
}

.programs-card:hover {
  background: #f3f3f3;
}

@media (max-width: 1300px) {
  /* HERO */
  .hero-title {
    font-size: 48px;
    line-height: 55px;
  }

  /* PROGRAMS */
}

@media (max-width: 1200px) {
  /* HERO */
  .hero-title {
    font-size: 38px;
  }

  /* PROGRAMS */
}

@media (max-width: 992px) {
  /* HERO */
  .hero-items {
    flex-direction: column;
  }

  .hero-info {
    width: 100%;
  }

  .hero-banner {
    margin-top: 50px;
    width: 100%;
  }

  /* PROGRAMS */
  .programs-cards {
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }

  .programs-card {
    width: 40%;
  }

  .fs-18 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  /* HERO */
  .hero-title {
    font-size: 24px;
    line-height: 30px;
  }

  .hero-btn {
    margin-top: 20px;
  }

  .hero-banner {
    margin-top: 25px;
  }

  .btn {
    padding: 10px;
    width: 80%;
  }

  /* PROGRAMS */
  .programs {
    margin-top: 30px;
  }

  .programs-cards {
    gap: 25px;
    margin-top: 20px;
  }

  .programs-card {
    width: 70%;
    padding: 25px 20px;
  }

  .programs-card img {
    width: 90%;
  }

  .fs-36px {
    font-size: 24px;
  }
}
